<h1>Career Dashboard</h1>

<h2>Jobs You've Applied To:</h2>
<ul>
	<li>Job Title 1 | Company | Application Date</li>
	<li>Job Title 2 | Company | Application Date</li>
	<li>Job Title 3 | Company | Application Date</li>
	<li>Job Title 4 | Company | Application Date</li>
	<li>Job Title 5 | Company | Application Date</li>
	<li>Job Title 6 | Company | Application Date</li>
	<li>Job Title 7 | Company | Application Date</li>
	<a href="/jobs">See More...</a><br>
	<a href="/add-job">Add a New Job</a>



</ul>	