<h1>Career Dashboard</h1>

<table>
	<caption><h3>Jobs You've Applied To:<h3></caption>
	<tr>
		<th>Job Title</th>
		<th></th>
		<th>Company</th>
		<th>Application Date</th>
	</tr>
	<tr>
		<td>Ruby on Rails Developer</td>
		<td></td>
		<td>Groupon</td>
		<td>6/14/20212</td>
	</tr>
	<tr>
		<td>Jr. Rails Developer</td>
		<td></td>
		<td>Pivotal Labs</td>
		<td>6/27/20212</td>
	</tr>
	<tr>
		<td>Rails Development Apprentice</td>
		<td></td>
		<td>Hash Rocket</td>
		<td>6/27/20212</td>
	</tr>
	<tr>
		<td>Software Developement Apprentice</td>
		<td></td>
		<td>Living Social</td>
		<td>6/30/20212</td>
	</tr>
</table>	

<a href="/jobs">See All Jobs</a>