<h1>Companies</h1>
<div>
<table class="table">
	
	<tr>
		<th>Company</th>
		
	</tr>
	<% @companies.each do |company| %>
	<tr>		
		<td><a href = "http://localhost:3000/companies/<%=company.id%>"><%= company.name %></a></td>
		<td><%= link_to("Edit", {:action => "edit", :id => company.id})  %></td>
		<td><%= link_to("Delete", {:action => "delete", :id => company.id})  %></td>		
	</tr>
	<% end %>
</table>	

<a href="/companies/new">Add a Company</a>
</div>